services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped

    environment:
      POSTGRES_USER: cipher
      POSTGRES_PASSWORD: cipher2017
      POSTGRES_DB: rss-db

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cipher"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:latest
    container_name: adminer
    restart: unless-stopped

    ports:
      - "8081:8080"

    depends_on:
      - postgres

volumes:
  postgres_data:
